@model HastaKayitApp.Models.Hasta

<h2>Kayıt Başarılı</h2>

<!-- Kullanıcının gönderdiği bilgiler burada görüntülenir -->
<p>Ad: @Model.Ad</p>
<p>Soyad: @Model.Soyad</p>
<p>Doğum Tarihi: @Model.DogumTarihi.ToShortDateString()</p>
<p>Cinsiyet: @Model.Cinsiyet</p>
