@{
    ViewData["Title"] = "About"; // Sayfa başlığı ViewData ile ayarlanıyor
}

<h1>@ViewData["Title"]</h1>
@* Açıklama mesajı ViewData üzerinden geliyor *@
<p>@ViewData["Message"]</p>
<p>Use this area to provide additional information.</p>
