<div class="text-center">

    <h1 class="display-4">Kategori Listesi</h1>
    Burada Kitap Kategorileri Listelenecektir.<br/><br/>

    @{ // @ İşareti
        var a = 10;
        var b = 20;
    }

    <b>A</b> Kategorisindeki Kitap Sayısı = @a
    <br/>
    <b>B</b> Kategorisindeki Kitap Sayısı = @b
    <br/><br/>
    <b>Toplam Kitap Sayısı </b> = <span style="color: green; font-size: larger;">@(a+b)</span>
</div>